################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01简单工厂模式/计算器/.vs/计算器/v16/Server/sqlite3
